# .env.local.example
COVERCUBE_URL=covercube_url
COVERCUBE_USERNAME=your_username_here
COVERCUBE_PASSWORD=your_password_here
COVERCUBE_PRODUCER_AZ=producer_code_AZ
COVERCUBE_PRODUCER_TX=producer_code_TX

# Mock Mode - Set to "true" to bypass Covercube API and return mock data (useful for testing without credentials)
MOCK_COVERCUBE=false